<div class="login-wrapper background" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box overrideboxpadding">
      <img src="assets\logo2.jpg" style="width: 330px; height: 80px;">
      <mat-card-header>
        
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" name="username" [(ngModel)]="username">
          </mat-form-field>
   
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Password" name="pwd" [(ngModel)]="pwd">
          </mat-form-field>
        </mat-card-content>
        <span *ngIf="showError" style="color: red;">{{ErrorMessage}}</span>
        <br>
        <button mat-stroked-button style="color: blue; width: 150px;" class="btn-block" (click)="onLoginAction()">Log in</button>
        <button mat-stroked-button style="color: blue; width: 150px; margin-left: 20px;" class="btn-block" (click)="onRegisterAction()">Register</button>
      </form>
      <h4 style="text-align: center;">OR</h4>
      <form class="trackingid-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input name="trackingId" matInput placeholder="Tracking ID" [(ngModel)]="trackingId">
          </mat-form-field>
          <p *ngIf="showTrackingIdError" style="color: red;">{{trackingIdErrorMessage}}</p>
        </mat-card-content>
        <button mat-stroked-button style="color: blue;" class="btn-block" (click)="onTrackAction()">Track</button>
      </form>
    </mat-card>
  
  </div>