<div style="width: 450px; height: 200px;">
<div style="width: 200px; height: 200px; background: lightskyblue; float: left;">
    
</div>

<div style="width: 200px; height: 200px; background: lightskyblue; float: right;">
    
</div>
</div>


<div style="margin-top: 50px;">
<ul>
<li>Deliveries will be made to the address shown on the package or to the main office of the department.</li>
<li>Deliveries are made Monday through Friday.</li>
<li>Departments may schedule a time to pick up packages at the receiving department by contacting the
    Receiving Department directly.</li>
<li>A signature is required at the time of delivery.</li> 
<li>The receiving department must be notified of any special delivery concerns or instructions, or if the
    packages(s) require special handling (such as size).</li>
<li>Upon request, the receiving department will provide temporary storage not to exceed 24 hours.</li>
<li>We cannot be held responsible for any damaged or missing packages for personal items shipped to
    the receiving department.</li>
</ul>
</div>